body{
    font-family: 'Anton', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0
   
}
.ib{
    color: coral;
}
.flexible-container{
    display: flex;

}
.change{
    width: 50%;
    padding-left: 2%;
}
.change img{
    width: 450px;;
}
.link{
    text-decoration: none;
    color:black;
    background-color: orange;
    padding: 10px 20px;
    border-radius: 5px;
}
.lfazi{
    background-image: url(../portfolio/developer-portfolio-master/images/top-banner.png);
    background-repeat: no-repeat;
}
.AL-LAST{
    background-image: url(../portfolio/developer-portfolio-master/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
} .shawdo{
    box-shadow: 20px 10px 60px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border-left: solid blue;
}
.exprience-area{
    background-image: url(../portfolio/developer-portfolio-master/images/exp-bg.png);
    background-repeat: no-repeat; 
    background-position: left;
}
.bo{
    border-left: solid red;
}